@model SahajSewa.Models.LicenseRegistration
@{
    Layout = null;
}
    <link rel="stylesheet" href="~/css/Bootswatch.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />



<div class="container col-8 col-sm-12 col-md-8  p-3 mx-auto">
    <div class="text-center">
        <span>Government of Nepal</span><br />
        <span>Ministry of Physical Infrastructure and Transport</span><br />
        <span>Department of Transport Management</span><br />
        <span class="fw-bold">Driving License Application</span><br />
    </div>
    <hr />
    <div class="row gx-5 px-5">
        <div style="position:absolute; left:65%;">
            <img src="@Model.Photo" style="border-radius:5px; border:1px solid #bbb9b9; height:150px; width:auto;" />
        </div>
        <label class="col-4 fw-bold">Reference Id:</label>
        <span class="col-8">@Model.Id</span>
        <br />
        <br />
         @if (Model.LicenseAvailability == true)
        {
         <label class="col-4 fw-bold">Application Type:</label>
        <span class="col-8">Add Category</span>
        }
        else
        {
            <label class="col-4 fw-bold">Application Type:</label>
        <span class="col-8">New License</span>
        }
        
        <br />
        <br />
        <label class="col-4 fw-bold">Category:</label>
        <span class="col-8">@ViewBag.CategorySymbol-(@ViewBag.CategoryName)</span>
        <br />
        <br />
        <label class="col-4 fw-bold">Trail Count:</label>
        <span class="col-8">@Model.TrailCount</span>
        <br />
        <br />
        <label class="col-4 fw-bold">Name:</label>
        <span class="col-8">@Model.Fname&nbsp;@Model.Mname&nbsp;@Model.Lname</span>
        <br />
        <br />
        <label class="col-4 fw-bold">Date Of Birth:</label>
        <span class="col-8">@Model.DOB.ToShortDateString()</span>
        <br />
        <br />
        <label  class="col-4 fw-bold">Blood Group:</label>
        <span class="col-8">@Model.Bgroup</span>
        <br />
        <br />
        <label  class="col-4 fw-bold">Phone Number:</label>
        <span class="col-8">@Model.Pnumber</span>
        <br />
        <br />
        <label class="col-4 fw-bold">Address:</label>
        <span class="col-8">@ViewBag.Pvillage&nbsp;-&nbsp;@Model.Pward,&nbsp;@Model.Ptole&nbsp;(@ViewBag.Pdistrict,&nbsp;@ViewBag.Pprovince)</span>
        <br />
        <br />
        <label class="col-4 fw-bold">Guardian's Name:</label>
        <span class="col-8">@Model.Gname</span>
        <br />
        <br />
        <label  class="col-4 fw-bold">Citizenship No:</label>
        <span class="col-8">@Model.CitizenNo</span>
        <br />
        <br />
        @if (Model.PassportAvailability == true)
        {
        <label  class="col-4 fw-bold">Passport No:</label>
        <span class="col-8">@ViewBag.Passport</span>
        <br />
        <br />    
        }
        <label class="col-4 fw-bold">Registration Date:</label>
        <span class="col-8">@Model.RegisterDate.ToShortDateString()</span>
        <br />
        <br />
        <label  class="col-4 fw-bold">Office Location:</label>
        <span class="col-8">Transport Management Office - @ViewBag.OfficeVisit</span>
        <br />
        <br />
        <label class="col-4 fw-bold">Payment Id:</label>
        <span class="col-8">@Model.PaymentIntentId</span>
    </div>
    <br />
    <div>
        <p style="text-align:justify"><b>Note:</b> Applicant will receive an email with the examination date. He/She must attend
            the Office in the specified date. If in case, applicant fails to attend to visit office, he/she
            will have to apply for new process of application online again and amount paid will be not refunded.
        </p>
        <p class="fw-bold">Please carry the Original Citizenship along with this application</p>
    </div>
    <div class=" d-flex justify-content-around my-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back To Home</a>
        <a id="btnPrint" class="btn btn-success">Print</a>
    </div>
</div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
$("#btnPrint").click(function() {
    $("a").hide();
    window.print();
    $("a").show();
});

    </script>
    <partial name="_Notification" />
