@model IList<SahajSewa.Models.LicenseRegistration>
@{
    ViewData["Title"] = "Index";
}
<form method="post">
    <div class="container p-3">
        <h2 class="text-primary text-center fw-bold">User List</h2>
        <br />
        <div class="d-flex justify-content-between">
            <div>
                <label>Date Filter:</label>
                <input type="date" id="dateChange" name="dateChange" />
            </div>
            <input type="submit" value="UpdateStatus" class="btn btn-secondary" />
        </div>
        <br />
        <table id="myTable" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>S.No.</th>
                    <th>Applicant Id</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Registration Date</th>
                    <th>Written Result</th>
                    <th>Trail Count</th>
                    <th>Trail Result</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <input asp-for="@Model[i].Id" value="@Model[i].Id" hidden>
                            <td></td>
                            <td>@(i+1)</td>
                            <td>@Model[i].Id</td>
                            <td>@Model[i].ApplicationUser.Email</td>
                            <td>@Model[i].ApplicationUser.UserName</td>
                            <td>@Model[i].RegisterDate.ToShortDateString()</td>
                            @if (Model[i].WrittenResult == null)
                            {
                                <td>
                                    <select asp-for="@Model[i].WrittenResult" class="form-select">
                                        <option selected disabled>--Result--</option>
                                        <option>pass</option>
                                        <option>fail</option>
                                        <option>absent</option>
                                    </select>
                                </td>
                            }
                            else
                            {
                                <td>@Model[i].WrittenResult</td>
                            }
                            <td>@Model[i].TrailCount</td>
                            @if (Model[i].WrittenResult == "pass")
                            {
                                @if (Model[i].TrailResult == null)
                                {
                                    <td>
                                        <select asp-for="@Model[i].TrailResult" class="form-select">
                                            <option selected disabled>--Result--</option>
                                            <option>pass</option>
                                            <option>fail</option>
                                            <option>absent</option>
                                        </select>
                                    </td>
                                }
                                else
                                {
                                    <td>@Model[i].TrailResult</td>
                                }
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</form>
@section Scripts{
    <script src="~/js/manageAll.js"></script>
}