@model SahajSewa.Models.ViewModels.LicenseVM
@{
    ViewData["Title"] = "Upsert";
}

<div class="container" style="max-width:70rem">
    <form method="post" enctype="multipart/form-data">
        <input asp-for="@Model.License.Id" hidden />
        <input asp-for="@Model.License.LicensePhoto" hidden />
        <div class="card my-3">
            <div class="card-header text-center text-light bg-primary fw-bold fs-5">
            Add License
            </div>
            <div class="card-body my-3">
            <div class="row col-10 mx-auto gx-5">
                <div class="form-elem col-6">
                    <label asp-for="@Model.License.LicenseNo"></label>
                    <input asp-for="@Model.License.LicenseNo" class="form-control" />
                    <span asp-validation-for="@Model.License.LicenseNo" class="text-danger"></span>
                </div>
                <div class="form-elem col-6">
                    <label asp-for="@Model.License.Phone"></label>
                    <input asp-for="@Model.License.Phone" class="form-control" />
                    <span asp-validation-for="@Model.License.Phone" class="text-danger"></span>
                </div>
                
                <div class="form-elem col-6">
                    <label asp-for="@Model.License.IssueDate"></label>
                    <input asp-for="@Model.License.IssueDate" value="@Model.License.IssueDate.ToShortDateString()" class="form-control" />
                    <span asp-validation-for="@Model.License.IssueDate" class="text-danger"></span>
                </div>
                <div class="form-elem col-6">
                    <label asp-for="@Model.License.ExpiryDate"></label>
                    <input asp-for="@Model.License.ExpiryDate" value="@Model.License.ExpiryDate.ToShortDateString()" class="form-control" />
                    <span asp-validation-for="@Model.License.ExpiryDate" class="text-danger"></span>
                </div>
                <div class="form-elem col-6">
                    <label asp-for="@Model.License.ProvinceId"></label>
                    <select asp-for="@Model.License.ProvinceId" class="form-select" id="Oprovince">
                        <option disabled selected>-- Select Province --</option>
                    </select>
                    <span asp-validation-for="@Model.License.ProvinceId" class="text-danger"></span>
                </div>
                <div class="form-elem col-6">
                    <label asp-for="@Model.License.OfficeId"></label>
                    <select asp-for="@Model.License.OfficeId" class="form-select " id="Oname">
                        <option disabled selected>-- Select District --</option>
                    </select>
                    <span asp-validation-for="@Model.License.OfficeId" class="text-danger"></span>
                </div>
                <div class="form-elem col-6">
                    <label asp-for="@Model.License.LicensePhoto"></label>
                    <div class="d-flex">
                        <input type="file" name="file" class="form-control" onchange="Preview(event)" />
                        <a class="mx-3 pt-2" id="check"><i class="bi bi-eye-slash"></i> </a>
                    </div>
                </div>
                 <div class="form-elem col-12">
                     <label>Category</label>
                     <div class="row">
                 @for(int i=0;i<Model.AvailableCategory.Capacity;i++)
                        {
                           <div class="col-3">
                                <input asp-for="@Model.AvailableCategory[i].Id" hidden/>
                                <input asp-for="@Model.AvailableCategory[i].Name" hidden/>
                                <div>@Model.AvailableCategory[i].Name</div>
                                <input asp-for="@Model.AvailableCategory[i].IsChecked"/>
                                </div>
                        }
                        </div>
                    </div>

            </div>

            <div class="mt-5 row justify-content-around">
                <a class="btn btn-secondary col-3" asp-controller="Home"  asp-action="Index">Back To Home</a>
                @if (Model.License.Id != 0)
                {
                    <button type="submit" class="btn btn-success col-3">Submit</button>

                }
                else
                {
                    <button type="submit" class="btn btn-success col-3" onclick="return ValidateInput()">Submit</button>

                }
            </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/CascadingSelect.js"> </script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        function ValidateInput() {
            var image = document.querySelector("input[type=file]");
            if (image.value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!!',
                    text: 'Please make sure to upload the image.'
                });
                return false;
            }
            return true;
        }

        function Preview(event) {
            var image = URL.createObjectURL(event.target.files[0]);
            var elem = document.getElementById("check");
            elem.removeChild(elem.firstElementChild);
            var node = document.createElement("i");
            node.setAttribute("class", "bi bi-eye");
            elem.appendChild(node);
            elem.onclick = function() {
                Swal.fire({
                    imageUrl: image,
                    imageWidth: 600,
                    imageHeight: 300,
                    imageAlt: 'No Image selected',
                });
            }
        }
    </script>
}

