@model SahajSewa.Models.ViewModels.IndexVM
@{
    ViewData["Title"] = "Home Page";
}


<div class="card my-4 mx-auto col-10">
    <div class="card-header text-center text-light bg-primary fw-bold fs-4">Digital License Management System</div>
    <div class="card-body row mx-auto mt-3 justify-content-around">
        @*<p class="card-text">
        <ul class="list-group mx-3">
        @if((@Model.LicenseRegistration.Id==0 && @Model.License.Id==0) || @Model.LicenseRegistration.WrittenResult=="fail" || (@Model.LicenseRegistration.TrailCount==3 && @Model.LicenseRegistration.TrailResult=="fail" ))
        {
        <li class="btn btn-primary mb-3 ">
        <a class="text-decoration-none text-light" asp-controller="LicenseRegistration"
        asp-action="Upsert">License Registration</a>
        </li>
        }
        @if(@Model.LicenseRegistration.Id!=0 && @Model.LicenseRegistration.WrittenResult!="fail" && @Model.LicenseRegistration.TrailResult==null)
        {
        <li class="btn btn-primary mb-3 ">
        <a class="text-decoration-none text-light" asp-controller="LicenseRegistration"
        asp-action="DownloadFile" asp-route-id="@Model.LicenseRegistration.Id">Application Details</a>
        </li>
        }
        @if (@Model.LicenseRegistration.TrailResult == "pass"|| (@Model.License.Id!=0 && @Model.LicenseRegistration.Id==0))
        {
        <li class="btn btn-primary my-3">
        <a class="text-decoration-none text-light" asp-controller="AddCategory" asp-action="Insert">Add Category</a>
        </li>
        }

        @if (@Model.LicenseRegistration.TrailResult == "fail" && @Model.LicenseRegistration.TrailCount<3)
        {
        <li class="btn btn-primary my-3">
        <a class="text-decoration-none text-light" asp-controller="LicenseRegistration" asp-action="Retrail" asp-route-id="@Model.LicenseRegistration.Id">Re-Trail</a>
        </li>
        }

        @if (@Model.License.Id != 0)
        {
        <li class="btn btn-primary my-3">
        <a class="text-decoration-none text-light" asp-controller="License" asp-action="Details" asp-route-id="@Model.License.Id">License Details</a>
        </li>
        }
        else
        {
        <li class="btn btn-primary my-3">
        <a class="text-decoration-none text-light" asp-controller="License" asp-action="Upsert">Add License</a>
        </li>
        }
        @if (@Model.Passport.Id != 0)
        {
        <li class="btn btn-primary my-3">
        <a class="text-decoration-none text-light" asp-controller="Passport" asp-action="Details" asp-route-id="@Model.Passport.Id">Passport Details</a>
        </li>
        }
        else
        {
        <li class="btn btn-primary mt-3 mb-2">
        <a asp-controller="Passport" asp-action="Insert" class="text-decoration-none text-light">Add Passport</a>
        </li>
        }

        </ul>
        </p>*@
        <a class="card btn p-0 mb-3 mx-2 col-8 col-md-5 col-xl-3" asp-controller="LicenseRegistration"
        asp-action="Upsert">
            <div class="card-body p-0">
                <img height="200" width="260" src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" />
                <div class="card-footer text-center">
                    License Registration
                </div>
            </div>
        </a>
        <a class="card btn p-0 mb-3 mx-2 col-8 col-md-5 col-xl-3" asp-controller="LicenseRegistration"
        asp-action="DownloadFile" asp-route-id="@Model.LicenseRegistration.Id">
            <div class="card-body p-0">
                <img height="200" width="260" src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" />

                <div class="card-footer text-center">
                    Application Details
                </div>
            </div>
        </a>
        <a class="card btn p-0 mb-3 mx-2 col-8 col-md-5 col-xl-3" asp-controller="LicenseRegistration" asp-action="Retrail" asp-route-id="@Model.LicenseRegistration.Id">
            <div class="card-body p-0">
                <img height="200" width="260" src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" />

                <div class="card-footer text-center">
                    Re-Trail
                </div>
            </div>
        </a>
        <a class="card btn p-0 mb-3 mx-2 col-8 col-md-5 col-xl-3" asp-controller="AddCategory" asp-action="Insert">
            <div class="card-body p-0">
                <img height="200" width="260" src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" />

                <div class="card-footer text-center">
                    Add Category
                </div>
            </div>
        </a>
        @if (Model.License.Id != 0)
        {
            <a class="card btn p-0 mb-3 mx-2 col-8 col-md-5 col-xl-3" asp-controller="License" asp-action="Details" asp-route-id="@Model.License.Id">
                <div class="card-body p-0">
                <img height="200" width="260" src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" />

                <div class="card-footer text-center">
                    License Details
                </div>
            </div>
        </a>
        }
        else
        {
        <a class="card btn p-0 mb-3 mx-2 col-8 col-md-5 col-xl-3" asp-controller="License" asp-action="Upsert">
            <div class="card-body p-0">
                <img height="200" width="260" src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" />

                <div class="card-footer text-center">
                    Add License
                </div>
            </div>
        </a>
        }
        @if (Model.Passport.Id != 0)
        {
            <a class="card btn p-0 mb-3 mx-2 col-8 col-md-5 col-xl-3" asp-controller="Passport" asp-action="Details" asp-route-id="@Model.Passport.Id">
                <div class="card-body p-0">
                <img height="200" width="260" src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" />

                <div class="card-footer text-center">
                    Passport Details
                </div>
            </div>
        </a>
        }
        else
        {
        <a class="card btn p-0 mb-3 mx-2 col-8 col-md-5 col-xl-3" asp-controller="Passport" asp-action="Insert">
            <div class="card-body p-0">
                <img height="200" width="260" src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" />

                <div class="card-footer text-center">
                    Add Passport
                </div>
            </div>
        </a>
       }
    </div>
</div>

