@model SahajSewa.Models.ViewModels.IndexVM
@{
    ViewData["Title"] = "Home Page";
}


<div class="card bg-light my-5 mx-auto" style="max-width: 30rem;">
    <div class="card-header text-center fw-bold fs-4">Digital License Management System</div>
    <div class="card-body">
        <p class="card-text">
            <ul class="list-group mx-3">
                @if (@Model.LicenseRegistration.Id != 0)
                {
                    <li class="btn btn-primary mb-3 ">
                        <a class="text-decoration-none text-light" asp-controller="LicenseRegistration"
                       asp-action="DownloadFile" asp-route-id="@Model.LicenseRegistration.Id">Application Details</a>
                    </li>
                }
                else if(@Model.License.Id!=0)
                {
                     <li class="btn btn-primary my-3">
                        <a class="text-decoration-none text-light" asp-controller="AddCategory" asp-action="Insert">Add Category</a>
                    </li>
                }
                else
                {
                     <li class="btn btn-primary mb-3 ">
                        <a class="text-decoration-none text-light" asp-controller="LicenseRegistration"
                       asp-action="Upsert">License Registration</a>
                    </li>
                }
                @if (@Model.LicenseRegistration.TrailResult == "fail" @*&& @Model.LicenseRegistration.RegisterDate.AddDays(7)<DateTime.Today*@)
                {
                    <li class="btn btn-primary my-3">
                        <a class="text-decoration-none text-light" asp-controller="LicenseRegistration" asp-action="Retrail" asp-route-id="@Model.LicenseRegistration.Id">Re-Trail</a>
                    </li>
                }
              @*  @if (@Model.LicenseRegistration.TrailResult == "pass"  && @Model.LicenseRegistration.RegisterDate.AddDays(30)<DateTime.Today)
                {
                    <li class="btn btn-primary my-3">
                        <a class="text-decoration-none text-light" asp-controller="AddCategory" asp-action="Insert">Add Category</a>
                    </li>
                }*@
                @if (@Model.License.Id != 0)
                {
                    <li class="btn btn-primary my-3">
                        <a class="text-decoration-none text-light" asp-controller="License" asp-action="Details" asp-route-id="@Model.License.Id">License Details</a>
                    </li>
                }
                else
                {
                    <li class="btn btn-primary my-3">
                        <a class="text-decoration-none text-light" asp-controller="License" asp-action="Upsert">Add License</a>
                    </li>
                }
                @if (@Model.Passport.Id != 0)
                {
                       <li class="btn btn-primary my-3">
                        <a class="text-decoration-none text-light" asp-controller="Passport" asp-action="Details" asp-route-id="@Model.Passport.Id">Passport Details</a>
                    </li>
                }
                else
                {
                    <li class="btn btn-primary mt-3 mb-2">
                    <a asp-controller="Passport" asp-action="Insert" class="text-decoration-none text-light">Add Passport</a>
                </li>
                }
                
            </ul>
        </p>
    </div>
</div>
