@model IList<SahajSewa.Models.LicenseRegistration>
@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container col-lg-8 p-2">
    <form method="post">
        <div class="card card-body">
            <h4 class="bg-primary">General Details</h4>
            <div>
                <label class="fw-bold">Name:</label>
                <span>@Model[Model.Count-1].Fname&nbsp;@Model[Model.Count-1].Mname&nbsp;@Model[Model.Count-1].Lname</span>
            </div>
            <div>
                <label class="fw-bold">Date of Birth:</label>
                <span>@Model[Model.Count-1].DOB.ToShortDateString()</span>
            </div>
            <div>
                <label class="fw-bold">Gender:</label>
                <span>@Model[Model.Count-1].Gender</span>
            </div>
            <div>
                <label class="fw-bold ">Blood Group:</label>
                <span>@Model[Model.Count-1].Bgroup</span>
            </div>
            <div>
                <label class="fw-bold">Phone Number:</label>
                <span>@Model[Model.Count-1].Pnumber</span>
            </div>
            <div>
                <label class="fw-bold">Guardian's Name:</label>
                <span>@Model[Model.Count-1].Gname</span>
            </div>
        </div>
        <div class="card card-body">
            <h4 class="bg-primary">Address Details</h4>
            <h5 class="bg-secondary text-center">Permanent address</h5>
            <div>
                <label class="fw-bold">Province:</label>
                <span>@ViewBag.Pprovince</span>
            </div>
            <div>
                <label class="fw-bold">District:</label>
                <span>@ViewBag.Pdistrict</span>
            </div>
            <div>
                <label class="fw-bold">Village / Municipality:</label>
                <span>@ViewBag.Pvillage</span>
            </div>
            <div>
                <label class="fw-bold">Ward:</label>
                <span>@Model[Model.Count-1].Pward</span>
            </div>
            <div>
                <label class="fw-bold">Tole:</label>
                <span>@Model[Model.Count-1].Ptole</span>
            </div>
            <div>
                <label class="fw-bold">Email:</label>
                <span>@Model[Model.Count-1].Email</span>
            </div>
            @if (Model[0].Tprovince != null)
            {
                <br />
                <h5 class="bg-secondary text-center">Temporary address</h5>
                <div>
                    <label class="fw-bold">Province:</label>
                    <span>@ViewBag.Tprovince</span>
                </div>
                <div>
                    <label class="fw-bold">District:</label>
                    <span>@ViewBag.Tdistrict</span>
                </div>
                <div>
                    <label class="fw-bold">Village / Municipality:</label>
                    <span>@ViewBag.Tvillage</span>
                </div>
                <div>
                    <label class="fw-bold">Ward:</label>
                    <span>@Model[Model.Count-1].Tward</span>
                </div>
                <div>
                    <label class="fw-bold">Tole:</label>
                    <span>@Model[Model.Count-1].Ttole</span>
                </div>
            }
        </div>
        <div class="card card-body">
            <h4 class="bg-primary">Citizenship Details</h4>
            <div>
                <label class="fw-bold">Citizenship No:</label>
                <span>@Model[Model.Count-1].CitizenNo</span>
            </div>
            <div>
                <label class="fw-bold">Citizenship Issue District:</label>
                <span>@ViewBag.CitizenDistrict</span>
            </div>
            <div>
                <label class="fw-bold">Citizenship Issue Date:</label>
                <span>@Model[Model.Count-1].CitizenDate.ToShortDateString()</span>
            </div>
        </div>
         <div class="card card-body">
        <h4 class="bg-primary">Image details</h4>
        <div>
        <label class="fw-bold ">Photo:</label>
        <img src="@Model[Model.Count-1].Photo" class="d-block w-100" alt="User image" />
        </div>
        <br />
        <div>
        <label class="fw-bold ">Citizenship Front:</label>
        <img src="@Model[Model.Count-1].CitizenFront" class="d-block w-100" alt="Citizenship Front" />
        </div>
        <br />
        <div>
        <label class="fw-bold ">Citizenship Back:</label>
        <img src="@Model[Model.Count-1].CitizenBack" alt="Citizenship Back" class="d-block w-100" />
        </div>
        <br />
        <div>
        <label class="fw-bold ">Signature:</label>
        <img src="@Model[Model.Count-1].Signature" alt="Signature" class="d-block w-100" />
        </div>
        <br />
        <div>
        <label class="fw-bold ">Thumb Prints:</label>
        <img src="@Model[Model.Count-1].Thumb" alt="Thumb Prints" class="d-block w-100" />
        </div>
        </div>
        <div class="card card-body">
            <h4 class="bg-primary">License Registration History</h4>
            <table id="myTable" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Applicant Id</th>
                        <th>Registration Date</th>
                        <th>Category</th>
                        <th>Written Result</th>
                        <th>Trail Count</th>
                        <th>Trail Result</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @for (var i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <input asp-for="@Model[i].Id" value="@Model[i].Id" hidden>
                                <td>@(i + 1)</td>
                                <td>@Model[i].Id</td>
                                <td>@Model[i].RegisterDate.ToShortDateString()</td>
                                <td>@Model[i].DrivingCategory.Symbol</td>
                                @if (Model[i].WrittenResult == null)
                                {
                                    <td>NULL</td>
                                }
                                else
                                {
                                    <td>@Model[i].WrittenResult</td>
                                }
                                <td>@Model[i].TrailCount</td>
                                @if (Model[i].TrailResult == null)
                                {
                                    <td>NULL</td>
                                }
                                else
                                {
                                    <td>@Model[i].TrailResult</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>